<div class="text-center mt-5">
  <h1 class="text-center">Quelle est la capitale de : <!--{{ questions.capitale }}--></h1>
  <p>{{ secondes }} secondes restantes</p>
  <h2 class="text-center">Choisissez la bonne réponse</h2>
  <button class="btn btn-success font-italic p-2 m-md-5"><!--{{ questions.capitale[0] }}--></button>
  <button class="btn btn-success font-italic p-2 m-md-5"><!--{{ questions.capitale[1] }}--></button>
  <button class="btn btn-success font-italic p-2 m-md-5"><!--{{ questions.capitale[2] }}--></button>
  <button class="btn btn-success font-italic p-2 m-md-5"><!--{{ questions.capitale[3] }}--></button>
</div>
